.ng-invalid.ng-touched:not(form) {
    border: 1px solid #ea939b;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.ng-select[_ngcontent-c1] {
  padding: 0px 0px 0px 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0px 25px 0px;
}

.col-sm-12 {
  margin-top: 20px;
}

.form-horizontal {
    width: 800px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 30px 5px 15px 5px;
}

.name {
  padding: 30px 0px 30px 0px;
}

.form-group {
    padding: 10px 0px 10px 0px;
    z-index: 2;
}

.custom-select {
  width: 760px;
  margin-left: 15px;
  margin-right: 0px;
}

.panel-body {
    padding: 30px 5px 30px 5px;
    background-color: #F4F5F6;
    margin: 0;
}

.panel-header {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.p {
    padding: 0px 20px 0px 20px;
}

.btn {
  box-shadow: 0 0 0 0;
  background-color: #37e6af;
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
  margin-left: 280px;
  margin-top: 30px;
  color: #FFFFFF;
}

.date {
  margin-top: -4px;
}
